.preview-wrapper {
  position: relative;
  height: 100%;
  flex-grow: 1;
}
.preview-wrapper iframe {
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.react-draggable-transparent-selection .preview-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
}
.preview-error {
  padding: 5px;
  position: absolute;
  color: red;
  inset: 0;
}
